@import url('https://fonts.googleapis.com/css2?family=Schoolbell&family=Shadows+Into+Light&display=swap');
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  .schoolbell-regular {
    font-family: "Schoolbell", serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    font-family: 'Schoolbell', serif;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vw;
    background-image: linear-gradient(0deg, #f6eacb 16.67%, #f1d3ce 16.67%, #f1d3ce 33.33%, #eecad5 33.33%, #eecad5 50%, #f6eacb 50%, #f6eacb 66.67%, #f1d3ce 66.67%, #f1d3ce 83.33%, #eecad5 83.33%, #eecad5 100%);
    background-size: 120.00px 120.00px;
}
.text {
    background-image: linear-gradient(0deg, #ffe6e6 25%, #f0d9ff 25%, #f0d9ff 50%, #ffe6e6 50%, #ffe6e6 75%, #f0d9ff 75%, #f0d9ff 100%);
    background-size: 80.00px 80.00px;
    padding: 5%;
    border: 0.25vw solid black;
    border-radius: 1vw;
    box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
    -webkit-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
    -moz-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
}
.text2 {
  background-image: linear-gradient(0deg, #c6e6e0 25%, #f5f4eb 25%, #f5f4eb 50%, #c6e6e0 50%, #c6e6e0 75%, #f5f4eb 75%, #f5f4eb 100%);
  background-size: 80.00px 80.00px;
  padding: 5%;
  border: 0.25vw solid black;
  border-radius: 1vw;
  box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
  -webkit-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
  -moz-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
}
.fox-script {
  background-color: #eecad5;
  padding: 5%;
  border: 0.25vw solid black;
  border-radius: 1vw;
  box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
  -webkit-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
  -moz-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
  font-family: 'Courier New', Courier, monospace;
}
.messages {
    background-image: linear-gradient(0deg, rgb(241, 248, 232) 25%, rgb(216, 239, 211) 25%, rgb(216, 239, 211) 50%, rgb(241, 248, 232) 50%, rgb(241, 248, 232) 75%, rgb(216, 239, 211) 75%, rgb(216, 239, 211) 100%);
    background-size: 200.00px 200.00px;
    border: 1vw solid rgb(85, 173, 155);
    border-radius: 1vw;
    box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
    -webkit-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
    -moz-box-shadow: -1px -1px 5px 7px rgba(0,0,0,0.44);
}
.msg-right {
    background-color: rgb(149, 210, 179);
    font-family: 'Poppins';
    font-style:oblique;
    font-size: 2vw;
    padding-left: 1vw;
    margin-left: 3vw;
    border-radius: 0.5vw;
    max-width: 20vw;
    min-width: 10vw;
    margin-top: 2.5vw;
    padding: 1vw;
}
.msg-left {
    background-color: rgb(149, 210, 179);
    font-family: 'Poppins';
    font-size: 2vw;
    padding-left: 1vw;
    margin-left: 43vw;
    border-radius: 0.5vw;
    max-width: 20vw;
    min-width: 10vw;
    margin-top: 2.5vw;
    padding: 1vw;
}
#media-player {
  background: linear-gradient(0deg, rgb(182, 221, 239) 3%, rgb(214, 235, 252) 35%);
  font-family: "Schoolbell", serif;
  font-size: 1vw;
  color: black;
  display: block;
  position: absolute;
  padding: 1vw;
  max-width: 23vw;
  min-width: 23vw;
  max-height: 23vw;
  min-height: 23vw;
  box-shadow: -7px 10px 10px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: -7px 10px 10px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 10px 10px -7px rgba(0,0,0,0.75);
  margin-top: 5vw;
  rotate: -5deg;
  transform: translate(55vw);
}
#gramophone-gif {
  width: 13vw;
  height: 13vw;
  margin-left: 3vw;
}
#song-unfamiliar {
  width: 20vw;
  background-color: rgb(243, 241, 241);

  color: white;
  border-radius: 1vw;
}
#that-thing {
  cursor: pointer;
}