body {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.75vw;
}
#container-01 {
    background-color: #FFF430;
    color: black;
    width: 75vw;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1vw;
    padding-left: 2vw;
    
}
#title-name {
    padding-top: 1vw;
    margin: auto;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#description-01 {
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img-01 {
    width: 17vw;
    height: 17vw;
    margin: 3vw;
    margin-left: 10vw;
    border: 1vw solid white;
    border-bottom: 3vw solid white;
    box-shadow: -9px 10px 0px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: -9px 10px 0px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: -9px 10px 0px 0px rgba(0,0,0,0.76);
    transform: rotate(10deg);
}
#img-02 {
    width: 17vw;
    height: 17vw;
    margin: 3vw;
    display: box;
    margin-left: 50vw;
    border: 1vw solid white;
    border-bottom: 3vw solid white;
    box-shadow: -9px 10px 0px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: -9px 10px 0px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: -9px 10px 0px 0px rgba(0,0,0,0.76);
    transform: rotate(-10deg);
}

